body {
    background-image: linear-gradient(135deg,#cccccc 10%,  #be97c5 100%);
    margin-bottom: 5px;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    color: black;
}
  
.box-form {
    margin: 10px; /* Remove margin for the box-form div */
    width: 99%; /* Occupy the full width of the viewport */
    height: 90vh; /* Occupy the full height of the viewport */
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: baseline;
    box-shadow: 0 0 20px 6px black;
    background-attachment: scroll;
}

@media (max-width: 980px) {
.box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
    }
}
.box-form div {
    height: auto;
}
.box-form .left {
    color: whitesmoke;
    font-size: 20px;
    width: 40%;
    font-weight: bold;
    background-size: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
}
.box-form .left .overlay {
    padding: 10px 10px 10px 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: purple;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0.90;
}
.box-form .left .overlay h2 {
    font-size: 30px;
    line-height: 1;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 20px;
}
.box-form .left .overlay  p {
    margin-top: 20px;
    font-weight: 750;
}


/* customizable snowflake styling */
.snowflake {
    color: olive;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}


.box-form .right {
    font-size: 20px;
    width: 50%;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
}
.box-form .right .calendar {
    padding: 10px 10px 10px 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
    box-sizing: border-box;
}

/* Add any specific styles for the Availability Calendar and Available Times sections here */
.box-form .right .calendar h5 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}
.box-form .right .calendar iframe {
    width: 80%;
    height: 70%;
    
}
.box-form .right .calendar button {  
    width: 90%;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    background-color: purple;
    transition: background-color 0.3s ease;
  }
.box-form .right .calendar button:hover {
    background-color: gray;
  }


@media (max-width: 980px) {
    /* Styles for screens with a maximum width of 767 pixels (typical mobile devices) */
    .box-form .left,
    .box-form .right {
        width: 100%; /* Full width for both left and right sections */
        
    }

    .availability-calendar,
    .available-times {
        width: 100%; /* Full width for availability calendar and available times */
        margin-right: 0; /* Remove margin between sections for better mobile layout */
        margin-bottom: 20px; /* Add margin at the bottom for spacing between sections */
    }
}