body {
  background-image: linear-gradient(135deg,#cccccc 10%,  #be97c5 100%);
  margin-top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: black;
}

a {
  color:purple
}

.box-form {
  margin: 0 auto;
  width: 80%;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px black;
}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}
.box-form .left {
  color: white;
  font-size: 22px;
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/static/assets/bg_1.jpg");
  overflow: hidden;

}
.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: #4c4893;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 0.75;
}
.box-form .left .overlay h2 {
  font-size: 4vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}
.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}
.box-form .left .overlay span a {
  background-color: orange;
  color: #FFFFFF;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px black;
  transition: background-color 0.3s ease;
}
.box-form .left .overlay span a:hover {
  background-color: orangered;
}
.box-form .left .overlay span a:last-child {
  background-color: orchid;
  margin-left: 30px;
  transition: background-color 0.3s ease;
}
.box-form .left .overlay span a:last-child:hover {
  background-color: purple;
}
.box-form .right {
  padding: 0px 15% 10px 15%;
  overflow: hidden;
  text-align: center;

}
@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
}
.box-form .right h5 {
  font-size: 6vmax;
  line-height: 0;
  margin-bottom: 80px;
}
.box-form .right p {
  font-size: 14px;
  color: #0d3b0b;
  font-weight: bold;
}
.box-form .right .inputs {
  overflow: hidden;
}
.box-form .right input {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
}
.box-form .right .remember-me--forget-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-form .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 7px;
  width: auto;
}
.box-form .right button {
  float: center;
  width: 100%;
  margin-top: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  background-color: #6C63FF;
  transition: background-color 0.3s ease;
}
.box-form .right button:hover {
  background-color: orchid;
}

label {
  display: block;
  position: relative;
  margin-left: 30px;
}

label::before {
  content: ' \f00c';
  position: absolute;
  font-family: FontAwesome;
  background: transparent;
  border: 3px solid black;
  border-radius: 4px;
  color: transparent;
  left: -30px;
  transition: all 0.2s linear;
}

label:hover::before {
  font-family: FontAwesome;
  content: ' \f00c';
  color: #fff;
  cursor: pointer;
  background: orchid;
}

label:hover::before .text-checkbox {
  background: #6C63FF;
}

label span.text-checkbox {
  display: inline-block;
  height: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}

label input[type="checkbox"] {
  display: none;
}

/* customizable snowflake styling */
.snowflake {
  color: purple;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}


.box-form .right span p {
  margin-top: 30px;
  font-weight: 900;
}
.box-form .right span a {
  background-color: orange;
  color: #FFFFFF;
  margin-top: 10px;
  padding: 14px 50px;
  font-size: 25px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px black;
  transition: background-color 0.3s ease;
}
.box-form .right span a:hover {
  background-color: orangered;
}
.box-form .right span a:last-child {
  background-color: orchid;
  margin-left: 30px;
  width: 60%;
  transition: background-color 0.3s ease;
}
.box-form .right span a:last-child:hover {
  background-color: purple;
}

.box-form .leftSignUp {
  color: white;
  text-align: center; 
  width:100%;
  font-size: 22px;
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.box-form .leftSignUp .overlaySignUp {
  width: 100%;
  height: 100%;
  background-color: #4c4893;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 0.65;
}

.box-form .leftSignUp .overlaySignUp h5 {
  font-size: 6vmax;
  line-height: 0;
}
.box-form .leftSignUp .overlaySignUp p {
  font-size: 14px;
  color: #0d3b0b;
  font-weight: bold;
}
.box-form .leftSignUp .overlaySignUp .inputs {
  overflow: hidden;
}
.box-form .leftSignUp .overlaySignUp input {
  width: 50%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
}

.box-form .leftSignUp .overlaySignUp button:hover {
  background-color: orchid;
}
.box-form .leftSignUp .overlaySignUp button {
  float: center;
  color: #000000;
  margin-top: 19px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  width: 55%;
  padding: 12px 5px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  background-color: orchid;
  transition: background-color 0.3s ease;
}
.box-form .leftSignUp .overlaySignUp button:hover {
  background-color: orangered;
}
.box-form .right .spacer {
  height: 60px;
}