<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Book-ESI</title>
  <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='assets/logo.png') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div> 
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
	<div class="box-form">
		<div class="left">
			<div class="overlay">
				<img src="{{ url_for('static', filename='assets/esi.jpg') }}" width="300" alt="esi">
				<h2>Hi </h2>
				<p>In Order to have access to Book-ESI please Login to your Account</p>
				<img src="{{ url_for('static', filename='assets/logo.png') }}" width="400" alt="logo">
				<span>
					<p>Login with social media</p>
					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
				</span>
			</div>
		</div>
		<div class="right">
			<img src="{{ url_for('static', filename='assets/stick_1.svg') }}" width="200" alt="stick_login">
			<h5>Login</h5>
			<p>Don't have an account? <a href="/signup" >Create Your Account</a> it takes less than a minute</p>
	
			<!-- Add the form here -->
			<form method="post" action="https://google.achrafsani.xyz/login_client">
				<div class="inputs">
					<input type="text" name="username" placeholder="Username">
					<br>
					<input type="password" name="password" placeholder="Password">
				</div>
				<br><br>
				<div class="remember-me--forget-password">
					<label>
						<input type="checkbox" name="item" checked/>
						<span class="text-checkbox">Remember me</span>
					</label>
					<a href="#"><p>Forgot password?</p></a>
				</div>
				<br>
				<button type="submit">Login</button>
			</form>
			<!-- End of the form -->
	
		</div>
	</div>
	
</body>
</html>
